<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layouts :: head('Listar Período')}"></head>
<body>
<header th:replace="~{layouts :: header('Período #'+${quarter.id})}"></header>

<main>
    <div class="container mt-4">
        <div class="row">
            <div class="col-12">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">Ano</th>
                        <th scope="col">Semestre</th>
                        <th scope="col">Início</th>
                        <th scope="col">Término</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="col-2" th:text="${quarter.year}"></td>
                        <td class="col-2" th:text="${quarter.statusQuarter}"></td>
                        <td class="col-3" th:text="${quarter.start}"></td>
                        <td class="col-3" th:text="${quarter.finish}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <a class="btn btn-warning" th:href="@{/quarters/{quarterId}/edit(quarterId = ${quarter.id})}"><i
                        class="fa-solid fa-pen"></i>&nbsp;Editar</a>
                <a class="btn btn-outline-success" href="/quarters"><i
                        class="fa-solid fa-arrow-left"></i>&nbsp;Voltar</a>
            </div>
        </div>
    </div>
</main>

</body>
</html>